/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	background-image: url("./assets/images/organic-tiles.png");
	width: 960px
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777
}

header {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	width: 30%;
	float: left;
	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	
}


h1 {
		background-color: #4aaaa5;
		color: white;
		font-size: 26pt;
		font-weight: bold;
		padding-top: 50px;
		padding-bottom: 50px;
		float: left;
}

nav {
	float: right;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-color: #777777;
}

article {
	clear: left;
	float: left;
	width: 450px;
	

}

h2 {
	font-size: 24pt;
	background-color: white;
	color: #4aaaa5;
	padding-top: 25px;
	padding-bottom: 25px;
}

img {
	float: left;
}

p {
	float: left;
	text-align: left;

}

aside {
		color: #4aaaa5;
		background-color: white;
		width: 270px;
		float: right;
		padding-top: 65px;

}


section {
	clear: both;
	float: left;
}


footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #666666;
	text-align: center;

}